{% extends "base.html" %}

{% block title %}
Login Page
{% endblock %}

{% block own_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}

{% block content %}
<div id="login-container">
    <div class="login-inner">
        <h1>Admin</h1>
        <form method="POST" id="login-form">  
            <input type="password" name="password" placeholder="password" />
            <p><input type="submit" value="login" /></p>
        </form>
        <p id="login-message">Enter details</p>
    </div>
</div>
{% endblock %}

{% block own_js %}
<script src="{{ url_for('static', filename='js/login.js') }}"></script>
{% endblock %}
