{% extends "base.html" %}

{% block title %}
Login Page
{% endblock %}

{% block own_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}

{% block content %}
<div id="login-container">
    <h1>
        Login
    </h1>
    <form action = "/passing" method = "POST">  
        <input type = "text" name = "name" placeholder="password" />
        <p><input type = "submit" value = "login" /></p>
    </form>
</div>
{% endblock %}

{% block own_js %}
<script src="{{ url_for('static', filename='js/login.js') }}"></script>
{% endblock %}
