/*
:root {
  --bg: #f3eee7;
  --surface: #d8cfc4;
  --primary: #1b6f8c;
  --secondary: #40a8c4;
  --highlight: #fff7d6;
  --text: #2b2b2b;
}
*/

:root {
  --bg: #f4f2ec;
  --surface: #d6d2c4;
  --primary: #6b8e4e;
  --secondary: #a1b57d;
  --highlight: #e8c7a1;
  --text: #2d2d2d;
}

body {
    background-color: var(--bg);
    color: var(--text);
    font-family: "Recursive", sans-serif;
}

input {
    background-color: var(--primary);
    color: var(--highlight);
    text-align: center;
}

input::placeholder {
    color: var(--highlight);
}

input:focus::placeholder {
    opacity: 0.5;
}

input[type="submit"] {
    background-color: var(--primary);
    color: var(--highlight);
    border: none;
    padding: 8px 14px;
    cursor: pointer;
    text-align: center;
}

input[type="submit"]:hover {
    background-color: var(--secondary) !important;
}
