/*
:root {
  --bg: #f3eee7;
  --surface: #d8cfc4;
  --primary: #1b6f8c;
  --secondary: #40a8c4;
  --highlight: #fff7d6;
  --text: #2b2b2b;
}
*/

:root {
  --bg: #f4f2ec;
  --surface: #d6d2c4;
  --primary: #6b8e4e;
  --secondary: #a1b57d;
  --highlight: #e8c7a1;
  --text: #2d2d2d;

  --tab-height: 8vh;
}

body {
    background-color: var(--bg);
    color: var(--text);
    font-family: "Recursive", sans-serif;
}

::selection {
    background: var(--highlight);
    color: var(--text);
    text-shadow: none;
}

::-moz-selection {
    background: var(--highlight);
    color: var(--text);
    text-shadow: none;
}

input {
    outline: none !important;
    background-color: var(--primary);
    border: 1px solid var(--secondary);
    color: var(--highlight);
    text-align: center;
}

input:hover {
    background-color: var(--secondary);
    border-color: var(--primary);
    color: var(--text);
}

input::placeholder {
    color: var(--highlight);
    opacity: 0.5;
}

input:hover::placeholder {
    color: var(--text);
}

input:focus::placeholder {
    color: var(--text);
}

input:focus {
    background-color: var(--secondary);
    border: 1px solid var(--primary);
    color: var(--text);
}

input[type="submit"] {
    background-color: var(--primary);
    border: 1px solid var(--secondary);
    color: var(--highlight);
    padding: 8px 14px;
    cursor: pointer;
    text-align: center;
}

input[type="submit"]:hover {
    background-color: var(--secondary) !important;
    border-color: var(--primary) !important;
}

input[type="submit"]:hover {
    background-color: var(--secondary);
    border-color: var(--primary);
    color: var(--text);
}