header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: var(--tab-height);
    z-index: 1000;
}

header nav {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

nav ul {
    display: flex;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

nav li {
    flex: 1; 
    text-align: center;
    border: none;
    margin: 0;
    height: 100%;
}

nav li a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%; 
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 0;

    background-color: var(--secondary);
}

header nav a, header nav a:visited {
    color: var(--text);
}

nav li a:hover {
    background-color: var(--primary);
    border-color: var(--primary);
    color: var(--highlight);
}

#selected a {
    background-color: var(--primary); 
    color: var(--highlight);
    font-weight: bold;
}

ul:has(.unselected:hover) #selected a {
    background-color: var(--secondary);
    color: var(--text);
}

ul > li + li {
    border-left: 1px solid var(--highlight);
}

main {
    position: absolute;
    left: 0;
    padding-top: 0;
    width: 100vw;
}

.main-content {
    background-color: var(--bg);
    margin-top: var(--tab-height);
    height: calc(100vh - var(--tab-height));
}