h1 {
    color: brown;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: var(--tab-height);
    background-color: #000;
    z-index: 1000;
}

header nav {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

nav ul {
    display: flex;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    list-style-type: none;
    justify-content: space-between;
}

nav li {
    flex: 1; 
    text-align: center;
    border: none;
    margin: 0;
    height: 100%;
}

nav li a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%; 
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 0;
    color: #000; 
}

ul > li + li {
    border-left: 1px solid #bbb;
}

nav li a:hover {
    background-color: #ddd; 
}

#selected a {
    background-color: #bbb; 
    font-weight: bold; 
}

main {
    padding-top: 0;
}

.main-content {
    background-color: #000;
    margin-top: var(--tab-height);
    height: calc(100vh - var(--tab-height));
    width: 100vw;
}