#login-container {
    background-color: var(--surface);

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
    padding: 20px;
    border: 1px solid var(--secondary);

    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;
}

input[type="submit"] {
    width: 7rem;
}