@keyframes enlarge {
    0% {
        transform: translate(-50%, -50%) scale(0);
    }

    50% {
        transform: translate(-50%, -50%) scale(1.05);
    }

    100% {
        transform: translate(-50%, -50%) scale(1);
    }
}

#login-container {
    background-color: var(--surface);
    border: 1px solid var(--secondary);

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: fit-content;
    height: 42vh;
    padding: 2rem;

    display: table;
    flex-direction: column;
    align-items: center;
    text-align: center;

    animation: enlarge 1000ms;
}

#login-message {
    color: var(--text);
}

h1 {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

p {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input {
    width: 100%;
}